node_modules/
dist/
build/
.next/
.turbo/
*.tsbuildinfo

.env
.env.local
.env.*.local
.env.prod

coverage/
.nyc_output/

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.cache/
.parcel-cache/

infra/aws/cdk.out/
packages/imgcore-wasm/build/

.DS_Store
Thumbs.db
.vscode/*
.idea/
