{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "useTabs": true,
  "tabWidth": 5,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.yml", "*.yaml", "*.md", "*.css", "*.scss", "*.html"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
